<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a Home Page</h1>
    <h3><%= 3+2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae optio doloribus animi, blanditiis sequi repellendus reiciendis esse dolores quis eum provident, modi assumenda odio, ad ea vero tenetur quaerat et ipsum totam autem necessitatibus. Voluptate a, architecto sequi rem asperiores velit sint quibusdam perferendis similique quidem commodi, accusantium itaque cum aperiam impedit iusto, cumque ab officiis. Nemo rem laborum omnis quasi atque nulla necessitatibus excepturi, quod repudiandae officia. Vel asperiores quidem provident rerum beatae pariatur saepe facilis officiis labore similique, neque voluptate expedita autem voluptatum ab nemo modi unde.</p>
    <button>Click Me!</button>
</body>
</html>