<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>you Rolled <%= diceval %></h3>
    <% for(let i = 0;i< diceval ;i++) { %>
        <h5>you Rolled <%= diceval %></h5>
    <% } %>
    <% if(diceval == 6) { %>
        <h4>Congrats roll Again</h4>
    <% } %>
</body>
</html>